<?xml version="1.0"?>
<!--
/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_CatalogGraphQl">
        <sequence>
            <module name="Magento_Eav"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Rule"/>
            <module name="Magento_GraphQl"/>
            <module name="Magento_Store"/>
            <module name="Magento_CatalogGraphQl"/>
            <module name="Magento_Elasticsearch"/>
            <module name="Magento_ConfigurableProductGraphQl"/>
            <module name="Magento_BundleGraphQl"/>
            <module name="Magento_Swatches"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_CatalogWidget"/>
        </sequence>
    </module>
</config>
